<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo buffer-both">
  <% image_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>
  <div class="col-md-3 mb">
    <%= link_to image_tag(photo.photo.thumb.file.url, class: "img-fluid"), photo.photo.file.url, data: {toggle: "lightbox", title: "image_title", gallery: "example-gallery" } %>
  </div>
</div>
